.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 24px;
}
mat-card-subtitle{
  margin-top:15px;
  color:#35b0ab;
}
.logo {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background: linear-gradient(to right, #35b0ab, #226b80);
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.logo-text {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.form-field {
  width: 100%;
  margin-bottom: 16px;
}

.forgot-password {
  margin-top: 8px;
  text-align: right;
  font-size: 14px;
  color: #35b0ab !important;
}
.submit-btn {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(to right, #35b0ab, #226b80);
}
