form {
  padding: 30px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: 50px auto;
}
::-webkit-input-placeholder {
  color:white;
}
.btn-primary:hover {
  transform: scale(1.02);
}



h2 {
  text-align:center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #35b0ab;
  text-transform: uppercase;

  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
h2::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #35b0ab;
  margin: 10px auto;
}
label {
  display: block;
  margin-bottom: 5px;
  color:#35b0ab;
}

.btn-primary {
  background: linear-gradient(to right, #35b0ab, #226b80);
  border: none;
  padding: 10px 20px;
  margin-top:15px;
  border-radius: 10px;
  color:white;
}


