
<div class="email-admin-container">
  <h1 class="title">Modifier profile</h1>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="email-admin-form">
    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput id="email" formControlName="email" type="email"  class="form-input">
      <mat-error *ngIf="profileForm.get('email')!.invalid"  class="error-message">Veuillez entrer un email valide</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" class="form-input">
      <button mat-icon-button matSuffix  (click)="togglePasswordVisibility($event)" [attr.aria-label]="hidePassword ? 'Hide password' : 'Show password'" class="password-toggle">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button class="submit-button" type="submit" [disabled]="profileForm.invalid">Mettre à jour</button>
  </form>
</div>

